* {
	box-sizing: border-box;
}

html {
	background: url(../images/sand.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

body {
  	font-family: 'Ubuntu Condensed', sans-serif;
  	background-color: transparent;
}

h1 {
	color: #fbffe9;
	font-size: 68px;
	margin-bottom: 30px;
}

h2 {
	color: #fbffe9;
	font-size: 48px;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #B22E2C;
	color: #FF363D;
	letter-spacing: 10px;
	text-align: center;
}

#randomNumber, #score {
	font-size: 100px;
	color: #4C9CCC;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #254C63;
   	letter-spacing: 0px;

}

#wins, #losses {
	margin-top: 55px;
	padding-left: 5px;
	font-size: 45px;
	color: #FFFB9F;  	
}

.winlose {
	font-size: 25px;
	color: #FFFB4F;
	margin-bottom: 0px;
}

#totalScoreText {
	margin-top: 60px
}

h3 {
	color: #fbffe9;
	font-size: 48px;
}

p {
	color: white;
	font-size: 18px;
}

.gemPics {
	width: 85px;
	height: 85px;
	margin: 30px 20px;
}

.allGemPics {
	margin:15px;
}

.gemPics:hover  {  							
  -webkit-filter: drop-shadow(5px 5px 5px #222);    /* 	PNG DROP */
  filter: drop-shadow(5px 5px 5px #222); 			/*	SHADOW   */
}

.gemPics:active {
	-ms-transform: rotate(-10deg);			/* tilt effect on image with mouse click */
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.picWin {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -204px;
  	margin-left: -400px;
  	height: 411px;
  	width: 800px;
}

.picLose {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -400px;
  	margin-left: -400px;
  	height: 800px;
  	width: 800px;
}



/*----------------------------------Media Query 767-----------------------*/
@media screen and (max-width: 767px){
	
	.gemPics {
	width: 85px;
	height: 85px;
	margin: 5px;
	}

	.allGemPics {
		margin: 20px;
		padding-left: 20px;
	}

	p, h1{
		margin-left: 30px;
	}

x{
		margin-left: 30px;
	}
}



/*----------------------------------Media Query 491-----------------------*/
@media screen and (max-width: 491px){

	#target, #totalScore {
		float:left;
	}

	#randomNumber, #score {
		float:right;
	}






}
